html{
    height:100%;
}
body{
    margin:0;
    padding:0;
    height:100%;
    font-size:12px;
    overflow:hidden;
}
#workTip{
    position: fixed;
    right: 5px;
    bottom: 5px;
    border:1px solid #ccc;
    padding: 5px;
    background: #fff;
    z-index: 9999;
    color: #666;
    cursor: pointer;
}
#wordMode{
    color: #333;
    font-weight: bold;
}
#divHostsMode{
    height: 100%;
}

#divProxyMode{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -130px;
    width: 300px;
    padding: 50px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 2px #ccc;
    text-align: center;
}
#proxytip{
    color: #666;
}

#divProxyMode input{
    padding:5px;
    font-size:16px;
    line-height:1.428571429;
    color:#555;
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
#divProxyMode input:focus{
    border-color:#66afe9;outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

#divProxyMode button{
    padding:10px;
}

.CodeMirror{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 9999;
    font-size:14pt;
    font-family: Consolas, monospace; 
    line-height: 1.1em;  
}
.CodeMirror pre{
    font-family: Consolas, monospace; 
    font-size:14pt;
}
.CodeMirror-scroll{
    height:100% !important;
}

/* ============== Bespin Start ==================== */
.cm-s-Bespin .CodeMirror-selected { background: #4C4A49 !important; }
.cm-s-Bespin .CodeMirror-gutters { background: #28211C; border-right: 1px solid #28211C; }
.cm-s-Bespin .CodeMirror-linenumber { color: #71675D; }
.cm-s-Bespin .CodeMirror-cursor { border-left: 1px solid white !important; }

.cm-s-Bespin{
    background:#28211C;
    color:#BDAE9D;
}
.cm-s-Bespin span.cm-group{
    color:#FF6400;
}
.cm-s-Bespin span.cm-ip{
    color:#00ff00;
}
.cm-s-Bespin span.cm-name{
    color:#4481ED;
}
.cm-s-Bespin span.cm-comment{
    color:#666;
}
.cm-s-Bespin span.cm-disabled{
    color:#999;
}
.cm-s-Bespin .cm-searching{
    background: rgba(255, 255, 0, .2);
}
/* ============== Bespin End ==================== */

/* ============== Dawn Start ==================== */
.cm-s-Dawn .CodeMirror-selected { background: #B9CAFA !important; }
.cm-s-Dawn .CodeMirror-gutters { background: #F9F9F9; border-right: 1px solid #F9F9F9; }
.cm-s-Dawn .CodeMirror-linenumber { color: #808080; }
.cm-s-Dawn .CodeMirror-cursor { border-left: 1px solid black !important; }

.cm-s-Dawn{
    background:#F9F9F9;
    color:#FF6400;
}
.cm-s-Dawn span.cm-group{
    color:#D24F24;
}
.cm-s-Dawn span.cm-ip{
    color:#691C97;
}
.cm-s-Dawn span.cm-name{
    color:#4481ED;
}
.cm-s-Dawn span.cm-comment{
    color:#808080;
}
.cm-s-Dawn span.cm-disabled{
    color:#796698;
}
/* ============== Dawn End ==================== */