@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,img a{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
table, td, th { vertical-align: top; }
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

body{font:12px Lucida Grande,Calibri,Trebuchet MS,Helvetica,"Microsoft Yahei",verdana,sans-serif;}
select,input,button,textarea{font:99% verdana,arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

a { color: #336699; text-decoration:none; }
a:focus, a:hover { /* text-decoration: underline; */ border-bottom: 1px dotted; }
a:active{ background: #336699; color: #FFF;}
img a:hover{ border-bottom: none;}

body{background: #ddd;color:#333333;font-size:12px;line-height:150%;}
h2 { font-size: 12px; line-height: 100%; padding-bottom:10px; }
pre{margin: 10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl {padding:0;}

h1{font-size:18px;font-weight:bold;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 5px solid #BCBCBC; border-width: 0 0 5px 0; margin: 20px 20px 0 20px;}
code{color:#0B8C8F;}
ul {list-style-type:none;}
li {list-style-type:none}
dt{font-weight:bold;margin-bottom:5px}
label{font-weight:bold;width:80px;float:left}
input,textarea{font-family:Verdana;color:#333}

.hide{display:none;}
.show{display:block}
.clearfix{zoom:1;clear:both}
.clear{overflow:hidden;zoom:1}
.fl{float:left}
.fr{float:right}
.tar{ text-align:right;}
.tac{ text-align:center;}
.pa{position: absolute;}
.pr{position: relative;}
.gray{ color: #999999;}
.gray a{ color: #999999;}

.warn{width: 600px; border: 1px solid #ebebeb;margin:80px auto;background:#fff}
.warn .black{padding: 20px 40px; background: #666666; color: #FFF;}
.warn .black h1{font-size: 16px; font-weight: bold; padding-bottom: 15px;}
.warn .black .orange{color: #FFCC99;}
.warn .black .action { padding-top: 20px;}
.warn .black .action .left{float: left; width: 150px;}
.warn .black .action .right{float: right; width: 120px;}
.warn .white{ padding: 20px 40px;}
.warn .white .browser li{width: 90px; padding: 0 40px 10px 0; float: left;}
.warn .white .browser li p{ padding-bottom: 5px; text-align: center; font-size: 14px; font-weight: bold;}
