<settings>

    <!-- Profile defining the properties required for a MyBatis build -->
    <profiles>
        <profile>
            <id>guacamole-mybatis</id>
            <properties>
                <guacamole.database.catalog>SCHEMA</guacamole.database.catalog>
                <guacamole.database.schema>DATABASE</guacamole.database.schema>
                <guacamole.database.user>USER</guacamole.database.user>
                <guacamole.database.password>PASS</guacamole.database.password>
            </properties>
        </profile>
    </profiles>

    <!-- Activate by default -->
    <activeProfiles>
        <activeProfile>guacamole-mybatis</activeProfile>
    </activeProfiles>

</settings>
