
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit"> 
    <title><%=siteName + ' - ' + siteAbout%></title>
    <link rel="icon" type="image/icon" href="<%=siteIcon%>">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <% include header.html %>
    <div id="doc-container">
        <div id="doc-bg"></div>
        <div id="doc-area">
            <h3>ApiKey: <%=apiKey%></h3>
            <h3>/version: 获得当前F2etest版本信息</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/version" target="_blank">http://<%=host%>/version</a></li>
            </ul>
            <h3>/openapp: 使用F2etest中的浏览器打开指定URL：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/openapp?id=ie8&amp;url=http://www.alibaba.com/" target="_blank">http://<%=host%>/openapp?id=ie8&amp;url=http://www.alibaba.com/</a></li>
                <li>此接口支持以下参数：
                    <ol>
                        <li>id: 浏览器ID，例如：ie6, ie7, ie8, ie9, ie10, ie11, chrome, firefox</li>
                        <li>url: 需要打开的目标URL地址</li>
                        <li>noproxy: 是否禁用代理，设置1为禁用，禁用后即访问线上</li>
                        <li>proxyurl: 代理服务器pac地址，可利用代理服务器实现自定义hosts绑定功能</li>
                    </ol>
                </li>
            </ul>
            <h3>/getAllBrowsers: 获取所有浏览器列表：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/getAllBrowsers?callback=cbfunc" target="_blank">http://<%=host%>/getAllBrowsers?callback=cbfunc</a></li>
                <li>此接口支持以下参数：
                    <ol>
                        <li>callback: jsonp的回调函数(可省略)</li>
                    </ol>
                </li>
            </ul>
            <h3>/initUser: 为当前用户初始化账号：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/initUser?callback=cbfunc" target="_blank">http://<%=host%>/initUser?callback=cbfunc</a></li>
                <li>此接口支持以下参数：
                    <ol>
                        <li>callback: jsonp的回调函数(可省略)</li>
                    </ol>
                </li>
            </ul>
            <h3>/setHosts: 设置当前为hosts模式，并传入hosts绑定：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/setHosts?apikey=<%=apiKey%>&amp;name=<%=userid%>&amp;hosts=<%=userIp%> www.alibaba.com&amp;callback=cbfunc" target="_blank">http://<%=host%>/setHosts?apikey=<%=apiKey%>&amp;name=<%=userid%>&amp;hosts=<%=userIp%> www.alibaba.com&amp;callback=cbfunc</a></li>
                <li>此接口支持以下参数(除callback参数以外，均兼容POST提交)：
                    <ol>
						<li>apikey: apikey</li>
						<li>name: 用户名(您的用户名为：<%=userid%>)</li>
						<li>hosts: hosts绑定</li>
                        <li>callback: jsonp的回调函数(可省略)</li>
                    </ol>
                </li>
            </ul>
            <h3>/setHostsForward: 设置当前为反向代理模式，并配置反向代理参数：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/setHostsForward?apikey=<%=apiKey%>&amp;name=<%=userid%>&amp;forwardHost=<%=userIp%>&amp;forwardPort=8888&amp;callback=cbfunc" target="_blank">http://<%=host%>/setHostsForward?apikey=<%=apiKey%>&amp;name=<%=userid%>&amp;forwardHost=<%=userIp%>&amp;forwardPort=8888&amp;callback=cbfunc</a></li>
                <li>此接口支持以下参数(除callback参数以外，均兼容POST提交)：
                    <ol>
						<li>apikey: apikey</li>
						<li>name: 用户名(您的用户名为：<%=userid%>)</li>
						<li>forwardHost: 反向代理IP地址(如果值为：local, 则设置为访问者的IP)</li>
						<li>forwardPort: 反向代理端口号</li>
                        <li>callback: jsonp的回调函数(可省略)</li>
                    </ol>
                </li>
            </ul>
            <h3>/getHostsConfig: 获取当前的hosts配置：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/getHostsConfig?apikey=<%=apiKey%>&amp;name=<%=userid%>&amp;callback=cbfunc" target="_blank">http://<%=host%>/getHostsConfig?apikey=<%=apiKey%>&amp;name=<%=userid%>&amp;callback=cbfunc</a></li>
                <li>此接口支持以下参数(除callback参数以外，均兼容POST提交)：
                    <ol>
						<li>apikey: apikey</li>
						<li>name: 用户名(您的用户名为：<%=userid%>)</li>
                        <li>callback: jsonp的回调函数(可省略)</li>
                    </ol>
                </li>
            </ul>
            <h3>/getHostsPac: 获取代理PAC：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/getHostsPac?name=<%=userid%>" target="_blank">http://<%=host%>/getHostsPac?name=<%=userid%></a></li>
                <li>此接口支持以下参数：
                    <ol>
						<li>name: 用户名(您的用户名为：<%=userid%>)</li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
    <% include footer.html %>
</body>
</html>
