<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit"> 
    <title><%=siteName + ' - ' + siteAbout%></title>
    <link rel="icon" type="image/icon" href="<%=siteIcon%>">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <% include header.html %>
    <div id="doc-container">
        <div id="doc-bg"></div>
        <div id="doc-area">
            <h3>v3.3.1 (2018-3-5)</h3>
            <ol>
                <li>/openapp接口支持自动初始化用户，无需提前调用/initUser接口</li>
            </ol>
            <h3>v3.3.0 (2017-8-3)</h3>
            <ol>
                <li>支持国家代理模式，以实现灵活的切换不同国家的代理</li>
            </ol>
            <h3>v3.2.3 (2017-3-20)</h3>
            <ol>
                <li>为了增加执行机稳定性，WebDriver云关闭远程调试功能</li>
            </ol>
            <h3>v3.2.2 (2017-1-3)</h3>
            <ol>
                <li>WebDriver云增加执行机队列等待功能，当无空闲执行机时，会持续等待</li>
            </ol>
            <h3>v3.2.1 (2016-12-22)</h3>
            <ol>
                <li>增加WebDriver统计页面</li>
            </ol>
            <h3>v3.2.0 (2016-8-10)</h3>
            <ol>
                <li>考虑到Karma的生态圈及功能更加完善，下线JS单测云产品，改为推荐使用Karma方案，F2etest专注于WebDriver执行机领域</li>
                <li>解偶自测云，独立为UI Recorder，允许在没有F2etest的情况下也可以录制使用: <a href="https://github.com/alibaba/uirecorder" target="_blank">https://github.com/alibaba/uirecorder</a></li>
            </ol>
            <h3>v3.1.0 (2016-6-21)</h3>
            <ol>
                <li>自测云添加公共用例功能：可以将某些公用的步骤录制为公用用例，然后在业务用例中多次引用，以提升录制效率(请更新f2etest-recorder至v0.9.38以上)</li>
            </ol>
            <h3>v3.0.0 (2016-6-13)</h3>
            <ol>
                <li>添加自测云：零成本的完整自动化测试解决方案</li>
            </ol>
            <h3>v2.0.0 (2016-4-11)</h3>
            <ol>
                <li>添加API：/applyWdBrowser, /openWdBrowser, /listWdBrowsers, /getWdPac, /runJsUnit</li>
                <li>添加WebDriver云</li>
                <li>添加JS单元测试云</li>
                <li>添加F2etest JsUnit的NodeJs客户端f2etest-jsunit</li>
            </ol>
            <h3>v1.0.2 (2015-10-18)</h3>
            <ol>
                <li>添加API：/version, /setHosts, /getHostsConfig /setHostsForward /getHostsPac</li>
                <li>增加apiKey支持，以暴露hosts接口给用户自行调用</li>
                <li>增加f2etest-local，实现自动代理到本地</li>
				<li>增加f2etest-chrome，在chrome浏览器中高效的利用F2etest系统中的多浏览器打开当前URL</li>
            </ol>
            <h3>v1.0.1 (2015-04-03)</h3>
            <ol>
                <li>web版本支持剪切板双向直通，完美打通本地和服务器之间的剪切板交换</li>
                <li>hostsShare支持分组管理，右键即可方便的进行切换</li>
            </ol>
            <h3>v1.0.0 (2015-03-17)</h3>
            <ol>
                <li>代码进行完全重构，基于Guacamole及TSWF Schema协议，极大提升了用户体验</li>
                <li>UI也进行了重构，仿桌面的UI，用起来爽爽的</li>
            </ol>

        </div>
    </div>
    <% include footer.html %>
</body>
</html>
