    <img id="background">
    <div id="bg-control">
        <span id="prevbg" class="bg-button prev" title="<%=__('Prev')%>"></span>
        <span id="nextbg" class="bg-button next" title="<%=__('Next')%>"></span>
    </div>
    <div id="footer">© alibaba.com <script>document.write(new Date().getFullYear())</script><%-siteFooter%></div>
    <script type="text/javascript" src="js/bg.js"></script>
    <script type="text/javascript">
        // init remote
        var remoteInited = <%=remoteInited%>;
        var jInitTip = $('<div id="initTip"><div class="dialog_mask"></div><div class="dialog_content"><img src="/imgs/loading.gif" /> <%=__('initTip')%></div></div>');
        $('body').append(jInitTip)
        function showInitTip(){
            jInitTip.show();
        }
        function hideInitTip(){
            jInitTip.hide(2000);
        }
        if(remoteInited === false){
            showInitTip();
            $.getJSON('/initUser', function(res){
                if(res && !res.error){
                    hideInitTip();
                }
                else{
                    alert('<%=__('initErrorMessage')%>\r\n'+(res&&res.error));
                }
            });
        }
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000122287'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/q_stat.php%3Fid%3D1000122287' type='text/javascript'%3E%3C/script%3E"));</script>
    <!--[if lte IE 8]> 
    <script type="text/javascript" src="js/ie-warning.js" ></script>
    <![endif]-->