
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit"> 
    <title><%=siteName + ' - ' + siteAbout%></title>
    <link rel="icon" type="image/icon" href="<%=siteIcon%>">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <% include header.html %>
    <div id="doc-container">
        <div id="doc-bg"></div>
        <div id="doc-area">
            <h3>如何修改hosts绑定？</h3>
            <ol>
                <li>双击桌面上的　<a href="/openapp?id=hostsshare" target="_blank"><strong>hosts</strong></a>　图标，即可修改hosts绑定，所有浏览器即时生效（无浏览器缓存）</li>
                <li>hosts修改过程中，即时自动保存，无须按快捷键</li>
            </ol>
            <h3>如何共享我本机的hosts绑定？</h3>
            <ol>
                <li>请查看详细帮助：<a href="/local">代理到本地</a></li>
            </ol>
            <h3>如何使用Fiddle或Charles调试浏览器？</h3>
            <ol>
                <li>Fiddle和Charles本质上都是代理服务器，只需在本机打开Fiddle或Charles软件</li>
                <li>打开桌面上的 <a href="/openapp?id=hostsshare" target="_blank"><strong>hosts</strong></a> 图标，鼠标点击右下角的：<strong>当前模式</strong>，切换为：<strong>“代理模式”</strong></li>
                <li>输入本机的：<strong>IP地址</strong>、<strong>端口号</strong>，并点击 <kbd>保存并立即生效</kbd> 按钮</li>
                <li>经过以上设置后，f2etest环境下所有浏览器的请求均会被反射代理到本机的Fiddle或Charles，就可以开始调试了</li>
            </ol>
            <h3>如何打开我本地的html文件？</h3>
            <ol>
                <li>在你本地安装各种web服务器，例如：nginx，并将需要测试的文件提供web服务</li>
                <li>在F2etest中访问：http://<strong>您计算机的内网ip</strong>/<strong>xxx.html</strong></li>
            </ol>
            <h3>某些情况下，当前浏览器卡死了怎么办？</h3>
            <ol>
                <li>在线版：按下桌面右下角的<kbd>Ctrl</kbd>和<kbd>Alt</kbd>键，再按下键盘上的<kbd>Del</kbd>(Mac下必需要按<kbd>Fn</kbd>+<kbd>Del</kbd>)，点击：<kbd>注销</kbd>，再重新打开当前浏览器即可正常工作</li>
                <li>Win桌面版：按<kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>End</kbd>等价于远程的<kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Del</kbd>，即可触发Windows的注销界面，随后同上</li>
                <li>Mac桌面版：按下<kbd>Fn</kbd>+<kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Del</kbd>，即可触发Windows的注销界面，随后同上</li>
            </ol>
            <h3>如何把所有浏览器的快捷方式下载到桌面？</h3>
            <ol>
                <li>在当前页面的右上角有教程入口，请点击：<a href="/install">安装到电脑</a></li>
            </ol>
            <h3>如何上传文件到远程中？</h3>
            <ol>
                <li>请将需要上传的文件从本地拖放到当前远程界面，很快会提示：上传完毕</li>
                <li>然后，在远程中即可以在 <strong>Guacamole RDP 上的 G</strong> 路径下看到您上传的文件</li>
            </ol>
            <h3>如何下载远程中的文件？</h3>
            <ol>
                <li>请另存为文件到 <strong>Guacamole RDP 上的 G</strong>下的<strong>Download</strong>文件夹 路径下</li>
                <li>然后，在右下角可以看到一个黑色的：<kbd>Download</kbd>按钮，点击按钮，即可开始下载</li>
            </ol>
        </div>
    </div>
    <% include footer.html %>
</body>
</html>
