<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
	<title><%=siteName + ' - ' + siteAbout%></title>
	<link rel="icon" type="image/icon" href="<%=siteIcon%>">
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
	<div id="header">
		<div id="logo"><a href="/"><img src="/imgs/f2etest.png" alt="f2etest" width="24" height="24"><span class="sitename">「<%=siteName%>」</span></a><span class="sitever"><a href="/changelog" target="_blank">v<%=appVersion%></a></span></div>
		<div id="options">
			<span id="username"><%=username%></span> | <a href="/logout"><%=__('Logout')%></a> | <a href="/help"><%=__('Help')%></a> | <a href="/install" class="recommend"><%=__('Install')%></a> | <a href="/local"><%=__('Proxy to local')%></a> | <a href="/stat"><%=__('Statistics')%></a> | <a href="/api">API</a>
		</div>
	</div>
	<div id="app-list">
	</div>
    <script type="text/javascript">
        // init app list
        var jAppList = $('#app-list');
        var arrAppList = <%-JSON.stringify(appList)%>
        function initAppList(){
            var appInfo;
            var arrHtml;
            var connectUrl;
            for(var i=0,c=arrAppList.length;i<c;i++){
                appInfo = arrAppList[i];
                connectUrl = '/openapp?id='+encodeURIComponent(appInfo.id);
                arrHtml = [];
                arrHtml.push('<div class="app"><div class="app-icon-bg"></div>');
                arrHtml.push('<a href="'+connectUrl+'" target="_blank" class="app-icon"><img src="/imgs/app/'+appInfo.id+'.png" /></a>');
                arrHtml.push('<a href="'+connectUrl+'" target="_blank" class="app-name">'+appInfo.name+'</a>');
                arrHtml.push('</div>');
                jAppList.append(arrHtml.join(''));
            }
        }
        $('#desktop').on('mousedown', function(){return false;});
        initAppList();
    </script>
	<% include footer.html %>
</body>
</html>
