<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit"> 
	<title><%=siteName + ' - ' + siteAbout%></title>
	<link rel="icon" type="image/icon" href="<%=siteIcon%>">
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
	<% include header.html %>
	<div id="app-list">
	</div>
    <script type="text/javascript">
        // init app list
        var jAppList = $('#app-list');
        var arrAppList = <%-JSON.stringify(appList)%>
        function initAppList(){
            var appInfo;
            var arrHtml;
            var connectUrl;
            for(var i=0,c=arrAppList.length;i<c;i++){
                appInfo = arrAppList[i];
                connectUrl = '/openapp?id='+encodeURIComponent(appInfo.id);
                arrHtml = [];
                arrHtml.push('<div class="app"><div class="app-icon-bg"></div>');
                arrHtml.push('<a href="'+connectUrl+'" target="_blank" class="app-icon"><img src="/imgs/app/'+appInfo.id+'.png" /></a>');
                arrHtml.push('<a href="'+connectUrl+'" target="_blank" class="app-name">'+appInfo.name+'</a>');
                arrHtml.push('</div>');
                jAppList.append(arrHtml.join(''));
            }
        }
        $('#desktop').on('mousedown', function(){return false;});
        initAppList();
    </script>
	<% include footer.html %>
</body>
</html>
