
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title><%=siteName + ' - ' + siteAbout%></title>
    <link rel="icon" type="image/icon" href="<%=siteIcon%>">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="logo"><a href="/"><img src="/imgs/f2etest.png" alt="f2etest" width="24" height="24"><span class="sitename">「<%=siteName%>」</span></a><span class="sitever"><a href="/changelog" target="_blank">v<%=appVersion%></a></span></div>
        <div id="options">
            <span id="username"><%=username%></span> | <a href="/logout"><%=__('Logout')%></a> | <a href="/help"><%=__('Help')%></a> | <span class="cur recommend"><%=__('Install')%></span> | <a href="/local"><%=__('Proxy to local')%></a> | <a href="/stat"><%=__('Statistics')%></a> | <a href="/api">API</a>
        </div>
    </div>
    <div id="doc-container">
        <div id="doc-bg"></div>
        <div id="doc-area">
            <h3>安装快捷方式到Chrome</h3>
            <p><a href="imgs/screenshot/chrome.png" target="_blank"><img src="imgs/screenshot/chrome.png" width="200px" /></a></p>
            <ol>
                <li>打开：Chrome官方扩展市场并安装扩展 <a href="https://chrome.google.com/webstore/detail/f2etest-client/nbfokjfplbppkihmcocbphbkgbfnadjd" target="_blank">https://chrome.google.com/webstore/detail/f2etest-client/nbfokjfplbppkihmcocbphbkgbfnadjd</a></li>
                <li>安装好后，点击Chrome右上角图标 <img src="imgs/f2etest.png" width="16" /></li>
                <li>初次使用，会提示初始化，在打开的选项界面中，输入：<strong>https://<%=host%></strong>，并点击<kbd>保存</kbd>按钮</li>
                <li>打开需要测试的站点，例如：<a href="http://www.alibaba.com/" target="_blank">http://www.alibaba.com/</a>，随后，再次点击Chrome右上角图标 <img src="imgs/f2etest.png" width="16" /></li>
                <li>鼠标点击需要测试的浏览器，即会在目标浏览器中打开当前网页的URL(按住Ctrl可同时打开多个浏览器)</li>
            </ol>
            <p>下面将F2etest所有应用的快捷方式安装至您的桌面，此种快捷方式由于是直连，因此速度上可以得到极大提升，获得几乎接近本地应用的用户体验，强烈建议您使用此方式。</p>
            <h3>安装快捷方式到Windows桌面 (Win7)</h3>
            <p><a href="imgs/screenshot/windows.jpg" target="_blank"><img src="imgs/screenshot/windows.jpg" width="200px" /></a></p>
            <ol>
                <li>打开：<strong>控制面板</strong>，打开：<strong>RemoteApp 和桌面连接</strong></li>
                <li>打开：<strong>使用RemoteApp和桌面连接设置一个新连接</strong></li>
                <li>输入：<strong>https://<%=host%>/rdfeed-<%=apiKey%>.xml</strong></li>
                <li>点击两次：<kbd>下一步</kbd>，再点击：<kbd>完成</kbd></li>
                <li>下载脚本：<a href="/install.bat" target="_blank">install.bat</a>，下载后<strong>双击执行</strong></li>
                <li>打开：<strong>开始菜单</strong>，打开：<strong>所有程序</strong></li>
                <li>打开：<strong>RemoteApp 和桌面连接</strong></li>
                <li>在<strong>f2etest文件夹</strong>上右键，选择：<strong>发送到</strong>，再选择：<strong>桌面快捷方式</strong></li>
                <li>双击打开桌面上新建的快捷方式：<strong>f2etest</strong></li>
                <li>打开需要的浏览器，即可开始测试之旅</li>
            </ol>
            <h3>安装快捷方式到Mac桌面</h3>
            <p><a href="imgs/screenshot/mac.jpg" target="_blank"><img src="imgs/screenshot/mac.jpg" width="200px" /></a></p>
            <ol>
                <li>请先安装：<a href="https://itunes.apple.com/us/app/microsoft-remote-desktop/id715768417" target="_blank">Microsoft Remote Desktop</a>。由于此软件只存在在英文市场，因此必需使用Apple英文市场的ID进行安装。（公共英文账号: f2e.sc.icbu@gmail.com 密码: helloF2E ）</li>                <li>打开刚才安装好的：<strong>Microsoft Remote Desktop程序</strong></li>
                <li>点击：<kbd>Remote Resources</kbd>按钮</li>
                <li>URL处输入：<strong>https://<%=host%>/rdfeed-<%=apiKey%>.xml</strong></li>
                <li>User name处输入用户名: <strong><%=userid%></strong></li>
                <li>Password处输入密码: <strong><%=remotePassword%></strong></li>
                <li>点击：<kbd>Refresh</kbd>按钮，此时正常情况下，应该在界面上可以看到F2etest上所有浏览器</li>
                <li>打开需要的浏览器，即可开始测试之旅</li>
            </ol>
        </div>
    </div>
    <% include footer.html %>
</body>
</html>
