<?xml version="1.0" encoding="utf-8"?>
<ResourceCollection SchemaVersion="1.1" xmlns="http://schemas.microsoft.com/ts/2007/05/tswf">
    <Publisher Name="f2etest" ID="f2etest" Description="">
        <Resources>
            <% for(var i=0; i<arrAppList.length; i++) {%>
            <Resource ID="<%=arrAppList[i].id%>" Alias="<%=arrAppList[i].id%>" Title="<%=arrAppList[i].name%>" Type="<%=arrAppList[i].program?'RemoteApp':'Desktop'%>">
                <Icons>
                    <IconRaw FileType="Ico" FileURL="/imgs/ico/<%=arrAppList[i].id%>.ico" />
                    <Icon32 Dimensions="32x32" FileType="Png" FileURL="/imgs/app/<%=arrAppList[i].id%>.png" />
                </Icons>
                <HostingTerminalServers>
                    <HostingTerminalServer>
                        <ResourceFile FileExtension=".rdp" URL="/getrdp?id=<%=arrAppList[i].id%>&amp;apikey=<%=apikey%>" />
                        <TerminalServerRef Ref="<%=arrAppList[i].server%>" />
                    </HostingTerminalServer>
                </HostingTerminalServers>
            </Resource>
            <% } %>
        </Resources>
        <TerminalServers>
            <% for(var i=0; i<arrServerList.length; i++) {%>
			<TerminalServer ID="<%=arrServerList[i].id%>" Name="<%=arrServerList[i].ip%>" />
            <% } %>
        </TerminalServers>
    </Publisher>
</ResourceCollection>