
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit"> 
    <title><%=siteName + ' - ' + siteAbout%></title>
    <link rel="icon" type="image/icon" href="<%=siteIcon%>">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <% include header.html %>
    <div id="doc-container">
        <div id="doc-bg"></div>
        <div id="doc-area">
            <h3>ApiKey: <%=apiKey%></h3>
            <h3>/version: 获得当前F2etest版本信息</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/version" target="_blank">http://<%=host%>/version</a></li>
            </ul>
            <h3>/openWdBrowser: 在线打开WebDriver执行机节点，观看或调试远程的脚本执行情况</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/openWdBrowser?browserId=1" target="_blank">http://<%=host%>/openWdBrowser?browserId=1</a></li>
                <li>此接口支持以下入参：
                    <ol>
                        <li>browserId: 浏览器ID</li>
                    </ol>
                </li>
            </ul>
            <h3>/listWdBrowsers: 获取所有WebDriver浏览器列表及可用情况</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/listWdBrowsers?callback=cbfunc" target="_blank">http://<%=host%>/listWdBrowsers?callback=cbfunc</a></li>
                <li>此接口支持以下入参：
                    <ol>
                        <li>callback: jsonp的回调函数(可省略)</li>
                    </ol>
                </li>
            </ul>
            <h3>/getWdPac: 获取webdriver节点代理PAC：</h3>
            <ul>
                <li>DEMO地址：<a href="http://<%=host%>/getWdPac?nodeId=1" target="_blank">http://<%=host%>/getWdPac?nodeId=1</a></li>
                <li>此接口支持以下入参：
                    <ol>
                        <li>nodeId: wd节点id</li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
    <% include footer.html %>
</body>
</html>
