
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit"> 
    <title><%=siteName + ' - ' + siteAbout%></title>
    <link rel="icon" type="image/icon" href="<%=siteIcon%>">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/hljs.min.css" />
    <link rel="stylesheet" type="text/css" href="css/asciinema-player.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/highlight.min.js"></script>
    <script type="text/javascript" src="js/asciinema-player.js"></script>
</head>
<body>
    <% include header.html %>
    <div id="doc-container">
        <div id="doc-bg"></div>
        <div id="doc-area">
            <h3>NodeJs场景下的使用示例：</h3>
            <p>以下基于jWebDriver演示F2etest WebDriver的使用，详细jWebDriver的使用请查看官网：<a href="http://jwebdriver.com/" target="_blank">http://jwebdriver.com/</a></p>
            <p>请按照以下操作步骤，可以直接体验整个使用过程：</p>
            <ol>
                <li>npm install mocha -g</li>
                <li>npm install expect.js mocha-generators jwebdriver</li>
                <li>
                    新建: test.js，内容如下：
                    <pre><code>var JWebDriver = require('jwebdriver');
var expect  = require("expect.js");
require('mocha-generators').install();

describe('f2etest webdriver test', function(){

    this.timeout(10000);
    
    var browser;
    before(function*(){
        var driver = new JWebDriver({
            'host': '<%=hostname%>'
        });
        browser = yield driver.session({
            'f2etest.userid': '<%=userid%>',
            'f2etest.apiKey': '<%=apiKey%>',
            'browserName': 'chrome',
            'version': ''
        });
    });

    it('should open url', function*(){
        var broserInfo = yield browser.info();
        var browserId = broserInfo['f2etest.browserId'];
        yield browser.url('https://www.baidu.com/');
        var kw = yield browser.find('#kw');
        expect(kw.length).to.be(1);

        yield kw.val('mp3').submit();

        var url = yield browser.url();
        expect(url).to.contain('wd=mp3');
    });

    after(function*(){
        if(browser){
            yield browser.close();    
        }
    });

});</code></pre>
                </li>
                <li>mocha test.js</li>
                <li>
                    执行结果如下：
                    <pre><code>  f2etest webdriver test
    √ should open url (1368ms)

  1 passing (3s)</code></pre>
                </li>
                <li>如何在F2etest上远程查看执行过程？
                    <ol>
                        <li>初始化浏览器实例时，返回的参数中读取<strong>f2etest.browserId</strong></li>
                        <li>上面的参数拼接URL，并打开：<a href="http://<%=host%>/openWdBrowser?browserId={browserId}" target="blank">http://<%=host%>/openWdBrowser?browserId={browserId}</a></li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <script type="text/javascript">
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });    
    </script>
    <% include footer.html %>
</body>
</html>
